# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.txt
*.gz
*.mp4

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
*/**/*.png

output/
playground/cmd/experiment/experiment
playground/cmd/expm/expm
playground/cmd/grouping/grouping
playground/cmd/m2sbf/m2sbf
playground/cmd/findshape/findshape
playground/cmd/m2fb/m2fb
playground/cmd/experiment/images
